<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Profile</title>
</head>
<body>
  <h1 class="text-center text-warning pt-4"><%= @user.username %></h1>
  <h5 class="text-center text-custom-light pt-2"><%= @user.about %></h5>
  <%if logged_in? && @user == current_user%>
    <div class="text-center mt-4">
      <%= link_to "Rework my profile", edit_user_path(@user), class: "btn btn-outline-warning mr-4" %>
      <%= link_to "Delete my profile", user_path(@user), class: "btn btn-outline-danger", method: :delete, data: { confirm: "Are you sure?" } %>
    </div>
  <% end %>
  <div class="flickr_pagination m-4">
    <%= will_paginate @articles, :container => false %>
  </div>
  <h5 class="text-center text-custom-light">Blog Posts</h5>
  <%= render 'articles/article' %>
  <div class="flickr_pagination m-4">
    <%= will_paginate @articles, :container => false %>
  </div>
</body>
</html>